body {
  font-family: Arial;
  text-align: center;
  padding: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

textarea {
  width: 90%;
  height: 80px;
  margin-top: 10px;
  font-size: 14px;
}

img {
  border-radius: 8px;
}
